body {
    font-family: 'Quicksand', sans-serif;
}

#divMainFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    height: 700px;
    /*background: url('./images/White-Wallpaper-For-Pc.jpg');*/
    /*background-size: cover;*/
    background-size: 1000px 700px;
    margin: auto;
    margin-top: 70px;
    border: solid black 1px;
}

#divImageFrame {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 10px;
    box-shadow: 0 0 30px #333;
    background-color: #ffffff;
    align-items: center;
}

button {
    border: none;
    outline: none;
    width: 50px;
    background-color: #ffffff;
}

#divImageContainer {
    flex-grow: 1;
    height: 100%;
    margin: 0;
    padding: 0;
}

#divImage {
    width: 100%;
    height: 100%;
    background-size: cover;

}

#divImageDescription {
    position: relative;
    top: -130px;
    height: 100px;
    background-color: blue;;
    background-color: #ffffff;
    opacity: 0.5;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

#divImageTitle {
    font-size: larger;
    font-weight:700;
}

#divImageText {
    margin-top:5px;
    font-weight: 700;
}

#divThumbFrame {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 550px;
    height: 110px;
    margin-bottom: 30px;
}

.divThumb {
    width: 70px;
    height: 70px;
    margin: 10px;
    /*
    background-size: cover;
    */
    background-size: 70px 70px;
    box-shadow: 10px 10px 10px #666;
}

#divInfo {
    border: black solid 1px;
    border-radius: 10px;;
    width: 200px;
    padding: 10px;
    position: relative;
    top: -730px;
    /*left: -638px;*/
    left: -540px;
    background: #ffffff;
    margin: 0;
    text-align: center;
    font-weight: 600;
    box-shadow: 10px 10px 10px #bbb;
}